In [1]:
import pandas as pd
dataset=pd.read_csv("austin_weather.csv")
dataset.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,74,60,45,67,49,43,93,75,57,...,29.68,29.59,10,7,2,20,4,31,0.46,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43,36,28,93,68,43,...,30.13,29.87,10,10,5,16,6,25,0,
2,2013-12-23,58,45,32,31,27,23,76,52,27,...,30.49,30.41,10,10,10,8,3,12,0,
3,2013-12-24,61,46,31,36,28,21,89,56,22,...,30.45,30.3,10,10,7,12,4,20,0,
4,2013-12-25,58,50,41,44,40,36,86,71,56,...,30.33,30.27,10,10,7,10,2,16,T,

In [2]:
dataset.isnull().sum()

Date                          0
TempHighF                     0
TempAvgF                      0
TempLowF                      0
DewPointHighF                 0
DewPointAvgF                  0
DewPointLowF                  0
HumidityHighPercent           0
HumidityAvgPercent            0
HumidityLowPercent            0
SeaLevelPressureHighInches    0
SeaLevelPressureAvgInches     0
SeaLevelPressureLowInches     0
VisibilityHighMiles           0
VisibilityAvgMiles            0
VisibilityLowMiles            0
WindHighMPH                   0
WindAvgMPH                    0
WindGustMPH                   0
PrecipitationSumInches        0
Events                        0
dtype: int64

In [3]:
dataset.describe()

         TempHighF     TempAvgF     TempLowF
count  1319.000000  1319.000000  1319.000000
mean     80.862775    70.642911    59.902957
std      14.766523    14.045904    14.190648
min      32.000000    29.000000    19.000000
25%      72.000000    62.000000    49.000000
50%      83.000000    73.000000    63.000000
75%      92.000000    83.000000    73.000000
max     107.000000    93.000000    81.000000

In [4]:
dataset['Date']=pd.to_datetime(dataset.Date)

In [5]:
dataset['Year']=dataset['Date'].dt.year
dataset['Month']=dataset['Date'].dt.month
dataset['Day']=dataset['Date'].dt.day

In [6]:
dataset.head()
dataset=dataset.drop('Date',axis=1)

In [7]:
dataset.head()

,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,...,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events,Year,Month,Day
0,74,60,45,67,49,43,93,75,57,29.86,...,7,2,20,4,31,0.46,"Rain , Thunderstorm",2013,12,21
1,56,48,39,43,36,28,93,68,43,30.41,...,10,5,16,6,25,0,,2013,12,22
2,58,45,32,31,27,23,76,52,27,30.56,...,10,10,8,3,12,0,,2013,12,23
3,61,46,31,36,28,21,89,56,22,30.56,...,10,7,12,4,20,0,,2013,12,24
4,58,50,41,44,40,36,86,71,56,30.41,...,10,7,10,2,16,T,,2013,12,25

In [8]:
print(dataset.dtypes)

TempHighF                      int64
TempAvgF                       int64
TempLowF                       int64
DewPointHighF                 object
DewPointAvgF                  object
DewPointLowF                  object
HumidityHighPercent           object
HumidityAvgPercent            object
HumidityLowPercent            object
SeaLevelPressureHighInches    object
SeaLevelPressureAvgInches     object
SeaLevelPressureLowInches     object
VisibilityHighMiles           object
VisibilityAvgMiles            object
VisibilityLowMiles            object
WindHighMPH                   object
WindAvgMPH                    object
WindGustMPH                   object
PrecipitationSumInches        object
Events                        object
Year                           int64
Month                          int64
Day                            int64
dtype: object

In [9]:
for col in dataset:
    print(dataset[col].unique())
    print("\n\n")
    if col=='Events':
        break

[ 74  56  58  61  57  60  62  64  44  55  69  71  59  36  48  53  70  72
  75  67  76  82  63  40  39  49  65  80  46  32  38  86  81  83  77  52
  73  47  50  68  66  89  79  85  84  87  78  88  96  93  94  91  92  90
  95  97  98 100 101  99 102 104 103  51  41  45  54  42  43  37 105  34
 107 106]



[60 48 45 46 50 53 51 40 54 44 43 57 47 29 35 62 65 52 56 59 64 42 33 38
 68 66 34 67 70 69 73 63 74 36 49 61 55 58 72 76 77 75 78 85 80 79 83 81
 82 92 84 86 87 88 90 89 91 71 39 37 41 30 32 93]



[45 39 32 31 41 40 36 35 33 28 42 34 22 53 57 48 46 43 37 38 27 26 55 29
 47 59 58 63 62 52 44 24 30 50 56 49 51 54 61 60 66 70 71 65 68 64 67 73
 72 74 75 76 77 78 69 79 80 23 81 19 21]



['67' '43' '31' '36' '44' '39' '41' '49' '51' '37' '55' '54' '15' '29'
 '60' '64' '58' '28' '42' '22' '38' '45' '19' '59' '62' '40' '17' '53'
 '34' '48' '52' '61' '63' '33' '57' '65' '46' '32' '50' '27' '56' '47'
 '68' '69' '66' '70' '73' '71' '76' '72' '75' '74' '-' '77' '23' '35' '30'
 '79' '78' '80' '26' '18' '25' '13']



['49' '36' '27' '28' '40' '39' '41' '26' '42' '22' '48' '32' '8' '11' '45'
 '55' '61' '37' '47' '25' '23' '20' '33' '30' '29' '17' '14' '13' '54'
 '59' '15' '24' '34' '35' '57' '50' '53' '60' '46' '56' '51' '31' '38'
 '62' '43' '63' '64' '67' '66' '58' '70' '68' '65' '69' '71' '72' '-' '73'
 '74' '21' '44' '52' '12' '75' '76' '18']



['43' '28' '23' '21' '36' '33' '37' '30' '19' '18' '38' '15' '2' '4' '50'
 '54' '20' '17' '16' '24' '10' '22' '5' '7' '9' '51' '41' '27' '39' '13'
 '29' '53' '32' '59' '44' '47' '35' '48' '12' '26' '31' '45' '52' '56'
 '49' '62' '63' '66' '60' '61' '55' '57' '25' '67' '58' '65' '68' '69'
 '64' '-' '70' '71' '46' '40' '34' '14' '42' '8' '72' '73' '75' '6' '11']



['93' '76' '89' '86' '79' '83' '92' '75' '87' '50' '68' '84' '70' '49'
 '55' '45' '59' '64' '71' '78' '81' '85' '66' '69' '63' '80' '82' '58'
 '96' '90' '67' '73' '56' '53' '100' '72' '97' '60' '77' '42' '51' '44'
 '37' '94' '91' '95' '-' '88' '74' '62' '61' '65' '57' '54' '52' '48' '47'
 '43']



['75' '68' '52' '56' '71' '63' '65' '64' '76' '60' '54' '55' '49' '59'
 '38' '43' '80' '81' '53' '51' '41' '35' '31' '45' '39' '44' '48' '42'
 '69' '74' '70' '57' '58' '85' '79' '72' '62' '88' '66' '36' '61' '78'
 '77' '73' '32' '33' '27' '87' '40' '67' '83' '86' '-' '50' '92' '46' '97'
 '91' '90' '47' '94' '82' '89' '95' '37' '84' '93' '28' '30']



['57' '43' '27' '22' '56' '47' '36' '60' '45' '32' '52' '26' '31' '17'
 '66' '68' '13' '14' '12' '21' '20' '19' '50' '39' '48' '42' '59' '65'
 '46' '49' '58' '40' '44' '70' '38' '30' '15' '29' '77' '37' '54' '69'
 '34' '83' '55' '53' '16' '18' '24' '51' '28' '67' '35' '72' '10' '11'
 '41' '79' '61' '73' '-' '33' '25' '74' '84' '62' '78' '93' '82' '23' '75'
 '87' '64' '89' '80' '76' '71' '85' '90' '81' '63' '86']



['29.86' '30.41' '30.56' '30.47' '30.46' '30.33' '30.31' '30.44' '30.49'
 '30.25' '30.48' '30.12' '30.8' '30.66' '30.18' '29.97' '30.16' '30.34'
 '30.21' '30.37' '30.26' '30.35' '30.43' '30.23' '30.73' '30.76' '30.38'
 '30' '30.28' '30.51' '30.52' '29.96' '29.91' '30.27' '30.11' '30.5'
 '30.57' '30.3' '30.08' '30.17' '30.1' '29.93' '30.09' '30.05' '30.06'
 '30.22' '29.92' '30.02' '30.07' '29.83' '30.03' '30.24' '30.2' '29.95'
 '30.01' '29.99' '29.9' '29.81' '30.14' '29.89' '30.04' '29.85' '30.15'
 '29.87' '29.63' '29.7' '30.19' '29.88' '29.84' '30.29' '29.94' '29.98'
 '30.13' '30.32' '30.58' '30.4' '30.36' '30.45' '30.39' '30.69' '30.79'
 '30.42' '30.54' '30.64' '29.76' '29.8' '-' '29.79' '29.72' '30.53'
 '30.55' '29.78' '30.63' '29.65' '30.68' '30.67' '30.59' '30.6' '30.83'
 '30.78' '29.73' '29.75' '29.69' '29.82' '29.77']



['29.68' '30.13' '30.49' '30.45' '30.33' '30.4' '30.39' '30.17' '30.1'
 '30.11' '30.37' '30.35' '29.95' '30.08' '30.68' '30.52' '30.2' '29.87'
 '30.06' '30.01' '30.29' '30.19' '30.22' '30' '30.31' '30.47' '30.63'
 '29.84' '30.09' '30.41' '29.81' '30.48' '30.32' '30.05' '30.15' '30.24'
 '30.18' '30.02' '29.93' '30.03' '29.85' '29.96' '30.04' '29.99' '29.77'
 '30.26' '29.86' '29.9' '29.94' '29.74' '30.07' '30.14' '29.83' '29.79'
 '29.92' '29.8' '29.98' '29.91' '29.76' '30.27' '30.12' '29.82' '29.78'
 '29.55' '29.61' '29.89' '29.97' '29.88' '30.16' '30.34' '30.28' '29.64'
 '30.23' '30.21' '29.7' '30.25' '30.36' '30.6' '30.38' '30.58' '30.54'
 '30.42' '30.43' '30.56' '29.65' '-' '29.73' '29.75' '30.3' '29.66'
 '29.72' '29.57' '30.46' '29.69' '29.67' '30.74' '30.64' '29.58' '29.71'
 '29.56' '29.59']



['29.59' '29.87' '30.41' '30.3' '30.27' '30.34' '30.04' '29.99' '30.26'
 '30.01' '30.15' '30.14' '29.81' '29.79' '30.5' '30.36' '30.12' '30'
 '29.75' '29.9' '29.86' '30.17' '30.06' '30.21' '30.1' '29.85' '30.19'
 '30.4' '30.02' '29.69' '30.29' '29.98' '30.13' '30.42' '30.24' '30.03'
 '29.93' '30.08' '29.94' '29.92' '29.89' '29.72' '29.71' '29.88' '29.95'
 '30.25' '30.22' '29.58' '29.73' '29.68' '29.7' '29.78' '29.67' '29.83'
 '30.05' '29.82' '29.66' '29.91' '29.8' '29.62' '30.09' '29.76' '29.84'
 '29.64' '29.44' '29.55' '29.6' '29.74' '29.77' '30.11' '29.96' '30.07'
 '29.65' '30.28' '30.18' '30.46' '29.51' '30.2' '30.37' '29.97' '29.63'
 '30.16' '30.45' '30.31' '30.38' '30.23' '30.32' '30.49' '29.52' '29.54'
 '-' '29.53' '29.48' '29.61' '29.57' '29.56' '30.48' '30.52' '30.6'
 '30.61' '29.42' '30.43' '29.46' '29.41' '29.5']



['10' '9' '-' '8' '5']



['7' '10' '9' '2' '4' '8' '6' '5' '3' '-']



['2' '5' '10' '7' '4' '8' '9' '1' '0' '3' '6' '-']



['20' '16' '8' '12' '10' '7' '17' '13' '21' '14' '15' '9' '18' '24' '22'
 '25' '28' '23' '-' '29' '6' '26']



['4' '6' '3' '2' '1' '5' '8' '7' '10' '9' '11' '-' '12']



['31' '25' '12' '20' '16' '17' '11' '14' '24' '21' '22' '28' '34' '27'
 '18' '19' '29' '26' '32' '23' '30' '37' '13' '36' '15' '33' '57' '38'
 '39' '47' '35' '10' '9' '43' '-' '42' '41']



['0.46' '0' 'T' '0.16' '0.1' '0.01' '0.06' '0.05' '0.02' '0.15' '0.11'
 '0.08' '0.17' '0.74' '0.07' '0.2' '0.27' '1.34' '2.45' '0.94' '0.14'
 '0.19' '1.56' '1.75' '0.55' '1.49' '0.24' '0.49' '0.31' '3.53' '1.52'
 '0.09' '0.98' '0.22' '0.51' '0.68' '0.35' '3.66' '0.13' '0.21' '0.03'
 '1.42' '0.3' '0.56' '1.51' '0.04' '0.33' '3.33' '0.59' '0.63' '0.76'
 '2.07' '0.4' '0.26' '0.45' '2.17' '1.17' '0.43' '0.41' '0.57' '3.84'
 '0.29' '0.23' '1.12' '0.36' '2.6' '1.41' '5.2' '0.67' '2.66' '1.09'
 '0.93' '0.75' '1.05' '0.79' '4.79' '0.65' '4.93' '0.89' '0.53' '1.03'
 '1.46' '0.25' '1.54' '1.32' '1.33' '2.18' '0.34' '1.19' '1.13' '0.58'
 '0.54' '0.92' '0.77' '2.25' '0.52' '0.18' '1.07' '1.61' '1.06' '2.35'
 '1.79' '1.22' '1.29' '0.37' '0.61' '1.57' '0.86' '0.66' '0.73' '0.71'
 '0.12' '0.47' '1.39']



['Rain , Thunderstorm' ' ' 'Rain' 'Fog' 'Rain , Snow' 'Fog , Rain'
 'Thunderstorm' 'Fog , Rain , Thunderstorm' 'Fog , Thunderstorm']

In [10]:
dataset=dataset.drop('Events',axis=1)
dataset.head()

,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,...,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Year,Month,Day
0,74,60,45,67,49,43,93,75,57,29.86,...,10,7,2,20,4,31,0.46,2013,12,21
1,56,48,39,43,36,28,93,68,43,30.41,...,10,10,5,16,6,25,0,2013,12,22
2,58,45,32,31,27,23,76,52,27,30.56,...,10,10,10,8,3,12,0,2013,12,23
3,61,46,31,36,28,21,89,56,22,30.56,...,10,10,7,12,4,20,0,2013,12,24
4,58,50,41,44,40,36,86,71,56,30.41,...,10,10,7,10,2,16,T,2013,12,25

In [11]:
dataset=dataset.replace('-','0')
dataset=dataset.replace(' ','Nan')
dataset=dataset.replace('T','0')

In [12]:
for col in dataset:
    print(dataset[col].unique())
    print("\n\n")
    if col=='Events':
        break

[ 74  56  58  61  57  60  62  64  44  55  69  71  59  36  48  53  70  72
  75  67  76  82  63  40  39  49  65  80  46  32  38  86  81  83  77  52
  73  47  50  68  66  89  79  85  84  87  78  88  96  93  94  91  92  90
  95  97  98 100 101  99 102 104 103  51  41  45  54  42  43  37 105  34
 107 106]



[60 48 45 46 50 53 51 40 54 44 43 57 47 29 35 62 65 52 56 59 64 42 33 38
 68 66 34 67 70 69 73 63 74 36 49 61 55 58 72 76 77 75 78 85 80 79 83 81
 82 92 84 86 87 88 90 89 91 71 39 37 41 30 32 93]



[45 39 32 31 41 40 36 35 33 28 42 34 22 53 57 48 46 43 37 38 27 26 55 29
 47 59 58 63 62 52 44 24 30 50 56 49 51 54 61 60 66 70 71 65 68 64 67 73
 72 74 75 76 77 78 69 79 80 23 81 19 21]



['67' '43' '31' '36' '44' '39' '41' '49' '51' '37' '55' '54' '15' '29'
 '60' '64' '58' '28' '42' '22' '38' '45' '19' '59' '62' '40' '17' '53'
 '34' '48' '52' '61' '63' '33' '57' '65' '46' '32' '50' '27' '56' '47'
 '68' '69' '66' '70' '73' '71' '76' '72' '75' '74' '0' '77' '23' '35' '30'
 '79' '78' '80' '26' '18' '25' '13']



['49' '36' '27' '28' '40' '39' '41' '26' '42' '22' '48' '32' '8' '11' '45'
 '55' '61' '37' '47' '25' '23' '20' '33' '30' '29' '17' '14' '13' '54'
 '59' '15' '24' '34' '35' '57' '50' '53' '60' '46' '56' '51' '31' '38'
 '62' '43' '63' '64' '67' '66' '58' '70' '68' '65' '69' '71' '72' '0' '73'
 '74' '21' '44' '52' '12' '75' '76' '18']



['43' '28' '23' '21' '36' '33' '37' '30' '19' '18' '38' '15' '2' '4' '50'
 '54' '20' '17' '16' '24' '10' '22' '5' '7' '9' '51' '41' '27' '39' '13'
 '29' '53' '32' '59' '44' '47' '35' '48' '12' '26' '31' '45' '52' '56'
 '49' '62' '63' '66' '60' '61' '55' '57' '25' '67' '58' '65' '68' '69'
 '64' '0' '70' '71' '46' '40' '34' '14' '42' '8' '72' '73' '75' '6' '11']



['93' '76' '89' '86' '79' '83' '92' '75' '87' '50' '68' '84' '70' '49'
 '55' '45' '59' '64' '71' '78' '81' '85' '66' '69' '63' '80' '82' '58'
 '96' '90' '67' '73' '56' '53' '100' '72' '97' '60' '77' '42' '51' '44'
 '37' '94' '91' '95' '0' '88' '74' '62' '61' '65' '57' '54' '52' '48' '47'
 '43']



['75' '68' '52' '56' '71' '63' '65' '64' '76' '60' '54' '55' '49' '59'
 '38' '43' '80' '81' '53' '51' '41' '35' '31' '45' '39' '44' '48' '42'
 '69' '74' '70' '57' '58' '85' '79' '72' '62' '88' '66' '36' '61' '78'
 '77' '73' '32' '33' '27' '87' '40' '67' '83' '86' '0' '50' '92' '46' '97'
 '91' '90' '47' '94' '82' '89' '95' '37' '84' '93' '28' '30']



['57' '43' '27' '22' '56' '47' '36' '60' '45' '32' '52' '26' '31' '17'
 '66' '68' '13' '14' '12' '21' '20' '19' '50' '39' '48' '42' '59' '65'
 '46' '49' '58' '40' '44' '70' '38' '30' '15' '29' '77' '37' '54' '69'
 '34' '83' '55' '53' '16' '18' '24' '51' '28' '67' '35' '72' '10' '11'
 '41' '79' '61' '73' '0' '33' '25' '74' '84' '62' '78' '93' '82' '23' '75'
 '87' '64' '89' '80' '76' '71' '85' '90' '81' '63' '86']



['29.86' '30.41' '30.56' '30.47' '30.46' '30.33' '30.31' '30.44' '30.49'
 '30.25' '30.48' '30.12' '30.8' '30.66' '30.18' '29.97' '30.16' '30.34'
 '30.21' '30.37' '30.26' '30.35' '30.43' '30.23' '30.73' '30.76' '30.38'
 '30' '30.28' '30.51' '30.52' '29.96' '29.91' '30.27' '30.11' '30.5'
 '30.57' '30.3' '30.08' '30.17' '30.1' '29.93' '30.09' '30.05' '30.06'
 '30.22' '29.92' '30.02' '30.07' '29.83' '30.03' '30.24' '30.2' '29.95'
 '30.01' '29.99' '29.9' '29.81' '30.14' '29.89' '30.04' '29.85' '30.15'
 '29.87' '29.63' '29.7' '30.19' '29.88' '29.84' '30.29' '29.94' '29.98'
 '30.13' '30.32' '30.58' '30.4' '30.36' '30.45' '30.39' '30.69' '30.79'
 '30.42' '30.54' '30.64' '29.76' '29.8' '0' '29.79' '29.72' '30.53'
 '30.55' '29.78' '30.63' '29.65' '30.68' '30.67' '30.59' '30.6' '30.83'
 '30.78' '29.73' '29.75' '29.69' '29.82' '29.77']



['29.68' '30.13' '30.49' '30.45' '30.33' '30.4' '30.39' '30.17' '30.1'
 '30.11' '30.37' '30.35' '29.95' '30.08' '30.68' '30.52' '30.2' '29.87'
 '30.06' '30.01' '30.29' '30.19' '30.22' '30' '30.31' '30.47' '30.63'
 '29.84' '30.09' '30.41' '29.81' '30.48' '30.32' '30.05' '30.15' '30.24'
 '30.18' '30.02' '29.93' '30.03' '29.85' '29.96' '30.04' '29.99' '29.77'
 '30.26' '29.86' '29.9' '29.94' '29.74' '30.07' '30.14' '29.83' '29.79'
 '29.92' '29.8' '29.98' '29.91' '29.76' '30.27' '30.12' '29.82' '29.78'
 '29.55' '29.61' '29.89' '29.97' '29.88' '30.16' '30.34' '30.28' '29.64'
 '30.23' '30.21' '29.7' '30.25' '30.36' '30.6' '30.38' '30.58' '30.54'
 '30.42' '30.43' '30.56' '29.65' '0' '29.73' '29.75' '30.3' '29.66'
 '29.72' '29.57' '30.46' '29.69' '29.67' '30.74' '30.64' '29.58' '29.71'
 '29.56' '29.59']



['29.59' '29.87' '30.41' '30.3' '30.27' '30.34' '30.04' '29.99' '30.26'
 '30.01' '30.15' '30.14' '29.81' '29.79' '30.5' '30.36' '30.12' '30'
 '29.75' '29.9' '29.86' '30.17' '30.06' '30.21' '30.1' '29.85' '30.19'
 '30.4' '30.02' '29.69' '30.29' '29.98' '30.13' '30.42' '30.24' '30.03'
 '29.93' '30.08' '29.94' '29.92' '29.89' '29.72' '29.71' '29.88' '29.95'
 '30.25' '30.22' '29.58' '29.73' '29.68' '29.7' '29.78' '29.67' '29.83'
 '30.05' '29.82' '29.66' '29.91' '29.8' '29.62' '30.09' '29.76' '29.84'
 '29.64' '29.44' '29.55' '29.6' '29.74' '29.77' '30.11' '29.96' '30.07'
 '29.65' '30.28' '30.18' '30.46' '29.51' '30.2' '30.37' '29.97' '29.63'
 '30.16' '30.45' '30.31' '30.38' '30.23' '30.32' '30.49' '29.52' '29.54'
 '0' '29.53' '29.48' '29.61' '29.57' '29.56' '30.48' '30.52' '30.6'
 '30.61' '29.42' '30.43' '29.46' '29.41' '29.5']



['10' '9' '0' '8' '5']



['7' '10' '9' '2' '4' '8' '6' '5' '3' '0']



['2' '5' '10' '7' '4' '8' '9' '1' '0' '3' '6']



['20' '16' '8' '12' '10' '7' '17' '13' '21' '14' '15' '9' '18' '24' '22'
 '25' '28' '23' '0' '29' '6' '26']



['4' '6' '3' '2' '1' '5' '8' '7' '10' '9' '11' '0' '12']



['31' '25' '12' '20' '16' '17' '11' '14' '24' '21' '22' '28' '34' '27'
 '18' '19' '29' '26' '32' '23' '30' '37' '13' '36' '15' '33' '57' '38'
 '39' '47' '35' '10' '9' '43' '0' '42' '41']



['0.46' '0' '0.16' '0.1' '0.01' '0.06' '0.05' '0.02' '0.15' '0.11' '0.08'
 '0.17' '0.74' '0.07' '0.2' '0.27' '1.34' '2.45' '0.94' '0.14' '0.19'
 '1.56' '1.75' '0.55' '1.49' '0.24' '0.49' '0.31' '3.53' '1.52' '0.09'
 '0.98' '0.22' '0.51' '0.68' '0.35' '3.66' '0.13' '0.21' '0.03' '1.42'
 '0.3' '0.56' '1.51' '0.04' '0.33' '3.33' '0.59' '0.63' '0.76' '2.07'
 '0.4' '0.26' '0.45' '2.17' '1.17' '0.43' '0.41' '0.57' '3.84' '0.29'
 '0.23' '1.12' '0.36' '2.6' '1.41' '5.2' '0.67' '2.66' '1.09' '0.93'
 '0.75' '1.05' '0.79' '4.79' '0.65' '4.93' '0.89' '0.53' '1.03' '1.46'
 '0.25' '1.54' '1.32' '1.33' '2.18' '0.34' '1.19' '1.13' '0.58' '0.54'
 '0.92' '0.77' '2.25' '0.52' '0.18' '1.07' '1.61' '1.06' '2.35' '1.79'
 '1.22' '1.29' '0.37' '0.61' '1.57' '0.86' '0.66' '0.73' '0.71' '0.12'
 '0.47' '1.39']



[2013 2014 2015 2016 2017]



[12  1  2  3  4  5  6  7  8  9 10 11]



[21 22 23 24 25 26 27 28 29 30 31  1  2  3  4  5  6  7  8  9 10 11 12 13
 14 15 16 17 18 19 20]

In [13]:
print(dataset.dtypes)

TempHighF                      int64
TempAvgF                       int64
TempLowF                       int64
DewPointHighF                 object
DewPointAvgF                  object
DewPointLowF                  object
HumidityHighPercent           object
HumidityAvgPercent            object
HumidityLowPercent            object
SeaLevelPressureHighInches    object
SeaLevelPressureAvgInches     object
SeaLevelPressureLowInches     object
VisibilityHighMiles           object
VisibilityAvgMiles            object
VisibilityLowMiles            object
WindHighMPH                   object
WindAvgMPH                    object
WindGustMPH                   object
PrecipitationSumInches        object
Year                           int64
Month                          int64
Day                            int64
dtype: object

In [14]:
c=0
for col in dataset:
    if c>2:
        dataset[col]=dataset[col].astype('float')
    if col=='PrecipitationSumInches':
        break
    c = c+1

In [15]:
print(dataset.dtypes)

TempHighF                       int64
TempAvgF                        int64
TempLowF                        int64
DewPointHighF                 float64
DewPointAvgF                  float64
DewPointLowF                  float64
HumidityHighPercent           float64
HumidityAvgPercent            float64
HumidityLowPercent            float64
SeaLevelPressureHighInches    float64
SeaLevelPressureAvgInches     float64
SeaLevelPressureLowInches     float64
VisibilityHighMiles           float64
VisibilityAvgMiles            float64
VisibilityLowMiles            float64
WindHighMPH                   float64
WindAvgMPH                    float64
WindGustMPH                   float64
PrecipitationSumInches        float64
Year                            int64
Month                           int64
Day                             int64
dtype: object

In [16]:
data=dataset.copy()

In [17]:
data

,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,...,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Year,Month,Day
0,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,29.86,...,10.0,7.0,2.0,20.0,4.0,31.0,0.46,2013,12,21
1,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,30.41,...,10.0,10.0,5.0,16.0,6.0,25.0,0.00,2013,12,22
2,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,30.56,...,10.0,10.0,10.0,8.0,3.0,12.0,0.00,2013,12,23
3,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,30.56,...,10.0,10.0,7.0,12.0,4.0,20.0,0.00,2013,12,24
4,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,30.41,...,10.0,10.0,7.0,10.0,2.0,16.0,0.00,2013,12,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,103,89,75,71.0,67.0,61.0,82.0,54.0,25.0,30.04,...,10.0,10.0,10.0,12.0,5.0,21.0,0.00,2017,7,27
1315,105,91,76,71.0,64.0,55.0,87.0,54.0,20.0,29.97,...,10.0,10.0,10.0,14.0,5.0,20.0,0.00,2017,7,28
1316,107,92,77,72.0,64.0,55.0,82.0,51.0,19.0,29.91,...,10.0,10.0,10.0,12.0,4.0,17.0,0.00,2017,7,29
1317,106,93,79,70.0,68.0,63.0,69.0,48.0,27.0,29.96,...,10.0,10.0,10.0,13.0,4.0,20.0,0.00,2017,7,30
1318,99,88,77,66.0,61.0,54.0,64.0,43.0,22.0,30.04,...,10.0,10.0,10.0,12.0,4.0,20.0,0.00,2017,7,31

In [18]:
Y_out = pd.DataFrame(data, columns = ['TempHighF','TempAvgF','TempLowF'])

In [19]:
Y_out.head()

   TempHighF  TempAvgF  TempLowF
0         74        60        45
1         56        48        39
2         58        45        32
3         61        46        31
4         58        50        41

In [20]:
# data=data.drop('TempHighF',axis=1)
data=data.drop('TempAvgF',axis=1)
data=data.drop('TempLowF',axis=1)

In [21]:
data=data.drop('TempHighF',axis=1)

In [22]:
data.head()

,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Year,Month,Day
0,67.0,49.0,43.0,93.0,75.0,57.0,29.86,29.68,29.59,10.0,7.0,2.0,20.0,4.0,31.0,0.46,2013,12,21
1,43.0,36.0,28.0,93.0,68.0,43.0,30.41,30.13,29.87,10.0,10.0,5.0,16.0,6.0,25.0,0.00,2013,12,22
2,31.0,27.0,23.0,76.0,52.0,27.0,30.56,30.49,30.41,10.0,10.0,10.0,8.0,3.0,12.0,0.00,2013,12,23
3,36.0,28.0,21.0,89.0,56.0,22.0,30.56,30.45,30.30,10.0,10.0,7.0,12.0,4.0,20.0,0.00,2013,12,24
4,44.0,40.0,36.0,86.0,71.0,56.0,30.41,30.33,30.27,10.0,10.0,7.0,10.0,2.0,16.0,0.00,2013,12,25

In [23]:
X_train=pd.concat([data.iloc[0:100,:],data.iloc[200:1200,:]])
X_test=pd.concat([data.iloc[100:200,:],data.iloc[1200:,:]])
Y_train=pd.concat([Y_out.iloc[0:100,1:2],Y_out.iloc[200:1200,1:2]])
Y_test=pd.concat([Y_out.iloc[100:200,1:2],Y_out.iloc[1200:,1:2]])

In [24]:
print(len(X_train))
print(len(X_test))
print(len(Y_train))
print(len(Y_test))
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

1100
219
1100
219
(1100, 19)
(1100, 1)
(219, 19)
(219, 1)

In [25]:
Y_test.head()

     TempAvgF
100        73
101        76
102        76
103        77
104        64

In [26]:
import numpy as np
def weight_initializer(no_independent_variables):
    weights=np.random.randn(no_independent_variables,1)
    return weights

In [27]:
x=weight_initializer(22)

In [28]:
def cost_computation(X,Y,weights,samples):
    Y_hat=np.dot(X,weights)
    cost= (1/(2*samples))*np.sum((Y_hat-Y)**2)
    mae=np.sum(Y_hat-Y)
    return cost,mae

In [29]:
def cal_gradient(X,Y,samples,weights):
    return 2/samples * np.dot(X.T,np.subtract(np.dot(X,weights),Y))

In [30]:
def update_weights(X,Y,weights,learning_rate,samples):
    weights=weights - learning_rate*cal_gradient(X,Y,samples,weights)
    return weights

In [31]:
def gradient_descent(X,Y,learning_rate,epochs):
    samples=len(Y)
    n_variables=X.shape[1]
    weights=weight_initializer(n_variables)
    loss=cost_computation(X,Y,weights,samples)
    for i in range(epochs):
        weights=update_weights(X,Y,weights,learning_rate,samples)
        loss,mae=cost_computation(X,Y,weights,samples)
        print(f"Cost after iteration {str(i)}  ===>>>    {str(loss)}")
        print(f" MAE ===>>>  {str(mae)}")
        print("\n")
    
    return weights

In [32]:
def Predict(X_test, Y_test, weights):
    Y_hat=np.dot(X_test,weights)
    mae=np.sum(Y_hat-Y_test)
    d=pd.DataFrame({'Actual':Y_test, 'Predicted':Y_hat})
    return d

In [33]:
pd.DataFrame({'Actual':Y_test, 'Predicted':Y_hat})

NameError: name 'Y_hat' is not defined

In [ ]:
x=X_train.to_numpy()
norm=np.linalg.norm(x)
x=x/norm

y=Y_train.to_numpy()
norm_y=np.linalg.norm(x)
y=y/norm_y

In [ ]:
model=gradient_descent(x,Y_train.to_numpy(),0.5,10000)

In [ ]:
print(model)

In [ ]:
print(x_)

In [ ]:
x_=X_test.to_numpy()
norm_=np.linalg.norm(x_)
x_=x_/norm_

In [ ]:
print(x_.shape)
print(Y_test.to_numpy().shape)
print(model.shape)

In [ ]:
d=Predict(x_,Y_test.to_numpy(),model)

In [ ]:
d.head()

In [ ]:
###### Predicting Single OutPut  ################'

In [ ]:
# Training using SKLEARN Package

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
X_train , X_test , Y_train , Y_test = train_test_split(data,Y_out['TempAvgF'], test_size = 0.3 , random_state = 0)

In [ ]:
lnr = LinearRegression()

In [ ]:
lnr.fit(X_train,Y_train)

In [ ]:
y_pred = lnr.predict(X_test)

In [ ]:
print(y_pred)

In [ ]:
print(Y_test)

In [ ]:
df = pd.DataFrame({'Actual': Y_test, 'Predicted': y_pred})

df.head()